@model Order

@{ ViewBag.Title = "Order details"; }

<h2>Order @Model.Id details</h2>
<h4>Products</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productOrder in Model.ProductOrders)
        {
            <tr>
                <td><b><a asp-action="ProductInfo" asp-controller="Home" asp-route-productId="@productOrder.Product.Id">@productOrder.Product.Name</a></b></td>
                <td>@productOrder.Product.Price.ToString("c")</td>
                <td>@productOrder.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<div class="well">
    <h4>History</h4>
    <b>@Model.Date</b> Placed
</div>

<div class="well">
    <h4>State</h4>
    @Model.State.ToString()
</div>

<div class="well">
    <h4>Total</h4>
    @Model.Total.ToString("c");
</div>
