@model Cart

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartMember cartMember in Model.CartMembers)
        {
            <tr>
                <td><b><a asp-action="ProductInfo" asp-controller="Home" asp-route-productId="@cartMember.ProductId">@cartMember.ProductName</a></b></td>
                <td>@cartMember.Count</td>
                <td>@cartMember.ProductPrice.ToString("c")</td>
                <td>
                    <form asp-controller="Cart" asp-action="Remove" asp-route-productId="@cartMember.ProductId" method="post">
                        <div class="">
                            <input type="submit" class="btn btn-danger" value="Remove" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="pull-right"><b>Total: @Model.Total.ToString("c")</b></td>
        </tr>
    </tfoot>
</table>
